@font-face {
  font-family: '\'Amiri\'';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/J7afnpd8CGxBHpUrtLYS7JNK_1.ttf') format('truetype');
}

@font-face {
  font-family: '\'Amiri\'';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/J7aRnpd8CGxBHqUpvrQw7g_1.ttf') format('truetype');
}

@font-face {
  font-family: '\'Amiri\'';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/J7acnpd8CGxBHp2VkZY4xJlCGg_1.ttf') format('truetype');
}

@font-face {
  font-family: '\'Tajawal\'';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Iura6YBj_oCad4k1rzaLDL5J_1.ttf') format('truetype');
}

@font-face {
  font-family: '\'Tajawal\'';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Iurf6YBj_oCad4k1l4qkLrZjjrlI_1.ttf') format('truetype');
}

@font-face {
  font-family: '\'VT323\'';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pxiKyp0ihIEF2hsYHpL2dw_1.ttf') format('truetype');
}
